name: Check
on:
  pull_request: ~
  push:
    branches:
      - main

permissions: read-all

jobs:
  check:
    name: ${{ matrix.what }}
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - what: GitHub Actions
            how: |
              export SHELLCHECK_OPTS='-e SC2086'
              actionlint
          - what: Shell scripts
            how: |
              shellcheck new.sh
          - what: Formatting
            how: |
              shfmt --simplify --diff new.sh
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Install tooling
        uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4.0.1
      - name: ${{ matrix.what }}
        run: ${{ matrix.how }}
