name: Check
on:
  pull_request: ~
  push:
    branches:
      - main

permissions: read-all

jobs:
  check:
    name: ${{ matrix.what }}
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - what: GitHub Actions
            how: |
              actionlint
          - what: Shell scripts
            how: |
              shellcheck new.sh
          - what: Formatting
            how: |
              shfmt --simplify --diff new.sh
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Install tooling
        uses: asdf-vm/actions/install@1902764435ca0dd2f3388eea723a4f92a4eb8302 # v4.0.0
      - name: ${{ matrix.what }}
        run: ${{ matrix.how }}
  gha-release:
    name: GitHub Actions Release Immutability
    runs-on: ubuntu-24.04
    if: ${{ github.event_name == 'pull_request' && startsWith(github.event.pull_request.head.ref || github.ref_name, 'dependabot/github_actions/') }}
    permissions:
      pull-requests: write # To comment on a Pull Request
    steps:
      - name: Parse
        id: parse
        shell: bash
        env:
          TITLE: ${{ github.event.pull_request.title }}
        run: |
          REPO=$(echo "${TITLE}" | awk -F' ' '{print $2}')
          OLD=$(echo "${TITLE}" | awk -F' ' '{print $4}')
          NEW=$(echo "${TITLE}" | awk -F' ' '{print $6}')

          {
            echo "repo=$REPO"
            echo "new=$NEW"
            echo "old=$OLD"
          } >>"$GITHUB_OUTPUT"
      - name: Check
        id: check
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
          NEW: ${{ steps.parse.outputs.new }}
          OLD: ${{ steps.parse.outputs.old }}
          REPO: ${{ steps.parse.outputs.repo }}
        run: |
          set -euo pipefail

          WAS_IMMUTABLE=$(gh release view "v${OLD}" --repo "${REPO}" --json isImmutable | jq .isImmutable)
          IS_IMMUTABLE=$(gh release view "v${NEW}" --repo "${REPO}" --json isImmutable | jq .isImmutable)

          echo "::debug::was ${WAS_IMMUTABLE}; is ${IS_IMMUTABLE}"
          {
          case "${WAS_IMMUTABLE};${IS_IMMUTABLE}" in
          'true;true')
            echo "comment="
            ;;
          'false;false')
            echo "comment=${OLD} was not an immutable release and ${NEW} still is not. :neutral_face:"
            ;;
          'true;false')
            echo "comment=${OLD} was an immutable release but ${NEW} is not. :cry:"
            ;;
          'false;true')
            echo "comment=${OLD} was not an immutable release but ${NEW} is! :smile:"
            ;;
          esac
          } >>"$GITHUB_OUTPUT"
      - name: Comment
        if: ${{ steps.check.outputs.comment != '' }}
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
          GH_URL: ${{ github.server_url }}
          COMMENT: ${{ steps.check.outputs.comment }}
          NUMBER: ${{ github.event.pull_request.number }}
          REPO: ${{ github.repository }}
        run: |
          URL="${GH_URL}/${REPO}/pull/${NUMBER}"
          gh pr comment "${URL}" --body "${COMMENT}"
