name: Weekly
on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch: ~

permissions: read-all

jobs:
  tooling:
    name: Update tooling
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Update tooling
        uses: ericcornelissen/tool-versions-update-action/pr@8900c39f101a61623f3ac432a6a9efc92475b0ec # v2.2.0
        with:
          install-tools: false
