name: Weekly
on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch: ~

permissions: read-all

jobs:
  tooling:
    name: Update tooling
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Update tooling
        uses: ericcornelissen/tool-versions-update-action/pr@85461df8352d85d08b2424c0f47b11baf06725eb # v2.1.0
