# WARNING:
# When using this reusable workflow, provide only trusted values to the inputs
# `build-cmd`, and `install-cmd`. The design of this workflow requires these to
# be embedded in scripts, which allows them to be used to execute an arbitrary
# command (in fact, that is exactly what `build-cmd` and `install-cmd` do).

name: Check
on:
  workflow_call:
    inputs:
      # Setup
      build-cmd:
        required: true
        type: string
      install-cmd:
        required: true
        type: string

      # Node.js
      node-version:
        required: false
        type: string
        default: ""
      node-version-file:
        required: false
        type: string
        default: ""

      # Target
      repository:
        required: true
        type: string

permissions: read-all

jobs:
  setup:
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Determine version to reproduce
        id: version
        run: |
          VERSION=$(cat .github/workflows/2-versions.yml \
            | grep '${{ inputs.repository }}' \
            | grep -o '@v[^"]*' \
            | cut -c2-)
          echo "$VERSION"
          echo "VERSION=$VERSION" >>"$GITHUB_OUTPUT"
  build:
    runs-on: ubuntu-24.04
    needs:
      - setup
    env:
      CHECKSUMS_FILE: reproducing-actions-checksums.txt
      BACKUP_DIR: /tmp/reproducing-actions
    steps:
      # Repository setup
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
          ref: ${{ needs.setup.outputs.version }}
          repository: ${{ inputs.repository }}

      # Environment setup
      - name: Install Node.js (from version)
        if: ${{ inputs.node-version != '' }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ inputs.node-version }}
          package-manager-cache: false
      - name: Install Node.js (from version file)
        if: ${{ inputs.node-version-file != '' }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: ${{ inputs.node-version-file }}
          package-manager-cache: false
      - name: Install dependencies
        run: ${{ inputs.install-cmd }}

      # Check reproducibility
      - name: Normalize line endings
        run: |
          FILES=$(find . \
            \( -path ./node_modules -o -path ./.git \) -prune -o \
            -type f -print)

          while IFS= read -r file; do
            echo "Normalizing line endings in '$file'"
            sed -i 's/\r$//' "$file"
          done <<<"$FILES"
      - name: Compute original checksums
        run: |
          FILES=$(find . \
            \( -path ./node_modules -o -path ./.git \) -prune -o \
            -type f -print | tr '\n' ' ')

          shasum --algorithm 512 $FILES >$CHECKSUMS_FILE

          echo 'Checksums:'
          echo '----------'
          cat $CHECKSUMS_FILE
      - name: Rebuild
        run: ${{ inputs.build-cmd }}
      - name: Normalize line endings
        run: |
          FILES=$(find . \
            \( -path ./node_modules -o -path ./.git \) -prune -o \
            -type f -print)

          while IFS= read -r file; do
            echo "Normalizing line endings in '$file'"
            sed -i 's/\r$//' "$file"
          done <<<"$FILES"
      - name: Check checksums
        run: shasum --strict --check $CHECKSUMS_FILE
      - name: Build files diff
        if: ${{ failure() }}
        run: |
          FILES=$(find . \
            \( -path ./node_modules -o -path ./.git \) -prune -o \
            -type f -print)

          while IFS= read -r file; do
            echo "--- Diff of '$file' ---"
            git diff "$file"
          done <<<"$FILES"
