# WARNING:
# When using this reusable workflow, provide only trusted values to the inputs
# `build-cmd` and `install-cmd`. These inputs are embedded directly into scripts
# because they are meant to be executed as commands.

name: Check
on:
  workflow_call:
    inputs:
      # Setup
      build-cmd:
        required: true
        type: string
      install-cmd:
        required: true
        type: string

      # Node.js
      node-version:
        required: false
        type: string
        default: ""
      node-version-file:
        required: false
        type: string
        default: ""

      # Target
      repository:
        required: true
        type: string
      working-directory:
        required: false
        type: string
        default: ""

permissions: read-all

jobs:
  setup:
    name: setup
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Determine version to reproduce
        id: version
        env:
          REPO: ${{ inputs.repository }}
        run: |
          WORKFLOW=$(echo "${REPO//\//-}.yml" | tr '[:upper:]' '[:lower:]')
          VERSION=$( \
            cat ".github/workflows/$WORKFLOW" \
              | grep -oE '^\s+- uses: [^@]+@v?[^"]*' \
              | sed 's/.*@//' \
          )
          echo "$VERSION"
          echo "VERSION=$VERSION" >>"$GITHUB_OUTPUT"
  build:
    name: build ${{ needs.setup.outputs.version }}
    runs-on: ubuntu-24.04
    needs:
      - setup
    env:
      BACKUP_DIR: /tmp/reproducing-actions
      CHECKSUMS_FILE: /tmp/reproducing-actions-checksums.txt
      FILES_LIST_FILE: /tmp/reproducing-actions-files.txt
    steps:
      # Repository setup
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          ref: ${{ needs.setup.outputs.version }}
          repository: ${{ inputs.repository }}
      - name: Obtain original list of files
        run: |
          find . \( -path ./.git \) -prune -o -type f -print | tee "$FILES_LIST_FILE"

      # Environment setup
      - name: Install Node.js (from version)
        if: ${{ inputs.node-version != '' }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ inputs.node-version }}
          package-manager-cache: false
      - name: Install Node.js (from version file)
        if: ${{ inputs.node-version-file != '' }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ${{ inputs.node-version-file }}
          package-manager-cache: false
      - name: Install dependencies
        working-directory: ${{ inputs.working-directory }}
        run: ${{ inputs.install-cmd }}

      # Check reproducibility
      - name: Normalize line endings
        run: |
          while IFS= read -r file; do
            echo "Normalizing line endings in '$file'"
            sed -i 's/\r*$//' "$file"
          done <"$FILES_LIST_FILE"
      - name: Store original files
        run: |
          mkdir --parents "$BACKUP_DIR"
          xargs -d '\n' cp --parents --target-directory="$BACKUP_DIR" <"$FILES_LIST_FILE"
      - name: Compute original checksums (legacy)
        run: |
          xargs -d '\n' shasum --algorithm 512 <"$FILES_LIST_FILE" >"$CHECKSUMS_FILE"

          echo 'Checksums:'
          echo '----------'
          cat $CHECKSUMS_FILE

      - name: Rebuild
        working-directory: ${{ inputs.working-directory }}
        run: ${{ inputs.build-cmd }}

      - name: Normalize line endings
        run: |
          while IFS= read -r file; do
            echo "Normalizing line endings in '$file'"
            sed -i 's/\r*$//' "$file"
          done <"$FILES_LIST_FILE"
      - name: Check byte-by-byte equality
        run: |
          while IFS= read -r file; do
            rebuild=$file
            original=$BACKUP_DIR/$file
            echo "Checking '$rebuild' against '$original'"
            cmp "$rebuild" "$original"
          done <"$FILES_LIST_FILE"
      - name: Check checksums (legacy)
        run: shasum --strict --check $CHECKSUMS_FILE

      - name: Build files diff
        if: ${{ failure() }}
        run: |
          while IFS= read -r file; do
            echo "--- Diff of '$file' ---"
            git diff "$file"
          done <"$FILES_LIST_FILE"
      - name: Check for new files
        run: |
          git clean -dfX

          before=$FILES_LIST_FILE
          after=$FILES_LIST_FILE.2

          find . \( -path ./.git \) -prune -o -type f -print >$after
          diff "$after" "$before"
